{% block content %}
	<img class="object object--asl" src="public/styles/images/object--asl.png" />
	<div class="object object--grass"></div>

<!-- Dig into Reading!
======================
-->	<a class="object object--dig" href="http://nova.campusguides.com/summer2013" title="Dig into Reading: Summer 2013 Reading Program for Kids">
		<h2 class="hide-text">
			Dig into Reading!
		</h2>
	</a>

<!-- Beneath the Surface
======================
-->	<a class="object object--beneath" href="http://nova.campusguides.com/content.php?pid=451393&sid=3698765" title="Beneath the Surface: Summer 2013 Reading Program for Teens">
		<h2 class="hide-text">
			Beneath the Surface!
		</h2>
	</a>

<!-- Groundbreaking Reads
======================
-->	<a class="object object--reads" href="http://nova.campusguides.com/content.php?pid=451393&sid=3698768" title="Goundbreaking Reads: Summer 2013 Reading Program for Adults">
		<h2 class="hide-text">
			Groundbreaking Reads
		</h2>
	</a>

<!-- Dinosaur
======================
-->	<div class="object object--dinosaur"></div>

<!-- Credit
======================
-->	<div class="object object--credit"></div>
	<div class="object object--broward-county"></div>

<!-- Contact
======================
-->	<footer class="fixed">
		<p>
			<b>Questions?</b> Call us at <a href="tel:19542625477" title="Call the Library">(954) 262-5477</a>

			<small class="credit">

				Made for <strong>just for you</strong> by the <a href="http://www.nova.edu/library/main" title="Alvin Sherman Library, Research, and Information Technology Center">Alvin Sherman Library</a> &copy; 2013.

			</small>
		</p>
	</footer>
{% endblock %}